/*********************************************************************************************

**********************************************************************************************/


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {border: 0;}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {list-style: none;}
caption, th {text-align: left;}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {content: '';}
abbr, acronym {border: 0;}


/*********************************************************************************************

1.  Basic Setup  

 *********************************************************************************************/
body {
  background: #CCCBC6 url(../images/bg.png) top left no-repeat;
  width: auto;
  height: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #4F4E4D;
}

#content {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}

a:link, a:visited {
  color: #363534;
  text-decoration: none;
  font-weight: bold;
}

h1 { 
  font-family: 'Droid Serif', arial, serif;
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-family: 'Droid Serif', arial, serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

blockquote {
  border-left: 1px solid #999999;
  padding: 0 0 0 15px;
  font-style: italic;
  font-weight: bold;
}

strong {font-weight: bold;}

abbr,acronym {
  border-bottom: 1px dotted;
  cursor: help;
} 

em {font-style: italic;}
ol,ul {margin: 0;}
ol li {list-style: decimal outside;}
ul li {list-style: none;}

caption {
  margin-bottom: 8px;
  text-align: center;
}

p,fieldset,table {margin-bottom: 15px;}
a:link, a:visited {text-decoration: none;}

:focus {
  outline: 0;
}

p {
  font-size: 14px;
}


/*********************************************************************************************

2.  Header Styles  

 *********************************************************************************************/
#header {
  width: 550px;
  float: left;
}

#logo {
  margin-left: 0 auto;
  margin-right: 0 auto;
}


/*********************************************************************************************

3.  Main Content Styles 

 *********************************************************************************************/
#register {
  width: 550px;
  margin: 65px 0 50px 0;
}

input.email, select {
  border: 6px solid #363534;
  background: #E0E0DC;
  font-size: 16px;
  height: 40px;
  padding: 0 0 0 15px;
  margin: 0 0 5px 0;
  width: 100%;
}

select {
  background-color: #E0E0DC;
}

.btn {
  background: #363534;
  color: #E0E0DC;
  font-size: 16px;
  border: none;
  width: 130px;
  height: 52px;
  cursor: pointer;
  text-align: center;
}

input, select, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.elements {
  width: 100%;
  height: 100%;
}

#response {
  position: absolute;
  width: 550px;
  margin: 60px 0 0 0;
  color: #CC3300;
}

.mc-field-group {
  position: absolute;
}

#twitter {
  width: 550px;
  float: left;
  margin: 45px 0 50px 0;
}

a.twitter {
  font-family: 'Droid Serif', arial, serif;
  background: url(../images/twitter.png) left no-repeat;
  padding: 0 0 0 30px;
  font-weight: normal;
  font-size: 18px;
}


.submit {
  text-align: center;
}

/*********************************************************************************************

4.  Footer Styles  

 *********************************************************************************************/
#footer {
  width: 550px;
  float: left;
  padding: 10px 0 40px 0;
  text-align: center;
}

#footer-content {
  width: 550px;
  float: left;
}

#footer h3 {
  color: #FFFFFF;
  font-weight: bold;
}

#flash_error {
    border: 2px solid #8B0000;
    padding:10px;
    background-color:#CD5C5C;
    color:gold;
    font-weight:bold;
}

#flash_notice {
    border: 1px solid green;    
    padding:10px;    
    background-color:#3CB371;
    color:#FFFF00;
    font-weight:bold;
}

